Repository samfrons/messai.ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: added docs
  .env.backup
  MESSAI_FIX_PLAN.md
  MESSAI_TODO_LIST.md
  apps/web/src/app/api/db-test/route.ts
  scripts/restore-papers-subset.js
  test-local-db.js
Due: eslint --fix, prettier --write

fixes
  .DS_Store
  apps/web/src/app/api/db-test/route.ts
  apps/web/tsconfig.json
  issues.md
  libs/data-access/database/prisma/schema.prisma
Due: eslint --fix, prettier --write

feat: add comprehensive Ollama cost optimization system with tests
  .DS_Store
  libs/feature/research-agents/jest.config.ts
  libs/feature/research-agents/src/config/cost-optimization-config.spec.ts
  libs/feature/research-agents/src/config/cost-optimization-config.ts
  libs/feature/research-agents/src/services/cost-optimization-service-simple.spec.ts
  libs/feature/research-agents/src/services/cost-optimization-service.spec.ts
  libs/feature/research-agents/src/services/cost-optimization-service.ts
  libs/feature/research-agents/src/services/optimized-ollama-wrapper-simple.spec.ts
  libs/feature/research-agents/src/services/optimized-ollama-wrapper.spec.ts
  libs/feature/research-agents/src/services/optimized-ollama-wrapper.ts
  libs/feature/research-agents/tsconfig.spec.json
Due: eslint --fix, prettier --write

feat: intelligent merge of autowork improvements into deployment branch
  MERGE_STRATEGY.md
  apps/web/jest.config.ts
  apps/web/src/app/lab-io/components/ParameterControl.tsx
  apps/web/src/app/lab/components/ParameterControl.tsx
  apps/web/src/app/lab/components/TimeSeriesChart.tsx
  apps/web/src/components/parameters/detail-sections/LimitationsSection.tsx
  apps/web/src/components/parameters/detail-sections/MeasurementMethodsSection.tsx
  apps/web/src/components/parameters/detail-sections/PerformanceImpactSection.tsx
  apps/web/src/components/parameters/detail-sections/PreparationMethodsSection.tsx
  apps/web/src/components/parameters/detail-sections/ReferencesSection.tsx
  apps/web/src/components/parameters/detail-sections/TypicalValuesSection.tsx
  apps/web/src/components/parameters/detail-sections/ValidationRulesSection.tsx
  apps/web/src/components/parameters/detail-sections/materials/AlternativeSystemsSection.tsx
  apps/web/src/components/parameters/detail-sections/materials/CompositionStructureSection.tsx
  apps/web/src/components/parameters/detail-sections/materials/ElectrochemicalPropertiesSection.tsx
  jest.config.ts
  libs/feature/research-agents/jest.config.ts
  libs/feature/research-agents/src/config/cost-optimization-config.spec.ts
  libs/feature/research-agents/src/config/cost-optimization-config.ts
  libs/feature/research-agents/src/services/base-ollama-service.ts
  libs/feature/research-agents/src/services/cost-optimization-service-simple.spec.ts
  libs/feature/research-agents/src/services/cost-optimization-service.spec.ts
  libs/feature/research-agents/src/services/cost-optimization-service.ts
  libs/feature/research-agents/src/services/enhanced-ollama-client.ts
  libs/feature/research-agents/src/services/optimized-ollama-wrapper-simple.spec.ts
  libs/feature/research-agents/src/services/optimized-ollama-wrapper.spec.ts
  libs/feature/research-agents/src/services/optimized-ollama-wrapper.ts
  libs/shared/testing/jest.config.ts
  libs/shared/testing/src/test-utils.tsx
  libs/shared/ui/jest.config.ts
  libs/shared/ui/src/components/input.tsx
  libs/shared/ui/src/components/layout.spec.tsx
  merge-conflict-analysis.md
Due: eslint --fix, prettier --write

Merge branch 'autowork' into proper-autowork-merge
  apps/web/src/app/parameters/utils/parameter-detail-service.ts
  apps/web/src/app/research/page.tsx
  apps/web/src/app/research/types.ts
  apps/web/tsconfig.json
  libs/data-access/database/apps/web/public/.gitkeep
  libs/data-access/database/prisma/schema.prisma
Due: eslint --fix, prettier --write

fix: resolve Vercel deployment errors
  apps/web/package.json
  apps/web/src/app/api/papers/route.ts
Due: eslint --fix, prettier --write

fix: update Prisma client imports to use generated path
  apps/web/src/lib/db.ts
  libs/data-access/database/src/client.ts
  libs/data-access/database/src/services/knowledge-graph.service.ts
Due: eslint --fix, prettier --write

fix: remove custom Prisma output to resolve NextAuth type compatibility
  apps/web/src/lib/db.ts
  libs/data-access/database/src/client.ts
  libs/data-access/database/src/services/knowledge-graph.service.ts
  prisma/schema.prisma
Due: eslint --fix, prettier --write

docs: add Vercel deployment checklist to prevent future issues
  docs/deployment-checklist.md
Due: prettier --write

fix: remove unused parseJsonField function
  apps/web/src/app/api/papers/route.ts
Due: eslint --fix, prettier --write

feat: clarify PostgreSQL database configuration for local and production
  .env.example
  .env.local.example
  .env.production.example
  CLAUDE.md
  apps/web/src/lib/db.ts
Due: eslint --fix, prettier --write

fix: correct local PostgreSQL credentials in configuration templates
  .env.example
  .env.local.example
  CLAUDE.md
Due: prettier --write

fix: remove duplicate conductivity property again
  apps/web/src/app/parameters/utils/parameter-detail-service.ts
Due: eslint --fix, prettier --write

fix: make schema fields optional to preserve existing data
  prisma/schema.prisma
Due: none

fix: handle missing In Silico fields with fallbacks
  apps/web/src/app/research/page.tsx
Due: eslint --fix, prettier --write

fix: remove duplicate methodology property in types
  apps/web/src/app/research/types.ts
Due: eslint --fix, prettier --write

fix: schema stuff
  .env.backup
  .env.example
  CLAUDE.md
  apps/web/src/app/api/auth/[...nextauth]/route.ts
  apps/web/src/app/api/db-test/route.ts
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/api/papers/[id]/route.ts
  apps/web/src/app/api/papers/route.ts
  apps/web/src/app/api/research/mess-papers/route.ts
  apps/web/src/lib/auth-utils.ts
  apps/web/src/lib/db.ts
  libs/data-access/database/package.json
  libs/data-access/database/src/client.ts
  libs/data-access/database/src/index.ts
  libs/data-access/database/src/services/knowledge-graph.service.ts
  parameter-docs/api-implementation.ts
  scripts/backup/create-backup.js
  scripts/backup/restore-backup.js
  scripts/test-db-connection.js
Due: eslint --fix, prettier --write

fix: schema updates
  CLAUDE.md
  DATABASE_SCHEMA_REPORT.md
  apps/web/package.json
  apps/web/src/app/api/auth/[...nextauth]/route.ts
  apps/web/src/app/api/papers/route.ts
  apps/web/src/app/api/research/mess-papers/route.ts
  apps/web/src/app/global.scss
  apps/web/src/app/layout.tsx
  apps/web/src/lib/db.ts
  apps/web/tsconfig.json
  libs/data-access/database/prisma/schema.prisma
  libs/data-access/database/src/client.ts
  libs/data-access/database/src/index.ts
  libs/data-access/database/src/services/knowledge-graph.service.ts
  libs/data-access/database/src/types/database-types.ts
  package.json
  parameter-docs/database/schema.prisma
  pnpm-lock.yaml
  prisma/schema.prisma
Due: eslint --fix, prettier --write

fix: new schema doc
  apps/web/tsconfig.json
  libs/data-access/database/package.json
  libs/data-access/database/prisma/schema.prisma.backup-20250718-143339
  prisma/schema.prisma
  prisma/schema.prisma.backup-20250718-143336
Due: prettier --write

chore: commit hope didn't break
  MESSAI_FIX_PLAN.md
  docs/database/SCHEMA_CONSOLIDATION.md
  docs/deployment-checklist.md
  prisma/schema.prisma
Due: prettier --write

fix: added url for research papers
  apps/web/src/app/api/auth/[...nextauth]/route.ts
  apps/web/src/app/api/db-test/route.ts
  apps/web/src/app/api/papers/route.ts
  apps/web/src/app/api/research/mess-papers/route.ts
  apps/web/src/app/auth/signin/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.spec.tsx
  apps/web/src/app/parameters/components/ParameterContent.tsx
  apps/web/src/app/research/page.tsx
  apps/web/src/components/error-boundary.tsx
  apps/web/tsconfig.json
  backups/messai-backup-2025-07-18T14-39-29-082Z.sql
  backups/messai-backup-2025-07-18T14-57-42-031Z.sql
  backups/messai-backup-2025-07-18T14-59-39-344Z.sql
  backups/messai-production-20250718-160000.sql
  backups/messai-production-20250718-160015.sql
  backups/messai-production-20250718-160023.sql
  libs/data-access/database/prisma/migrations/20240118_add_performance_indexes/migration.sql
  libs/shared/ui/src/components/paper-card.tsx
  libs/shared/ui/src/components/paper-detail-modal.tsx
Due: eslint --fix, prettier --write

fix: added url for research papers
  docs/ai-context/api-nomenclature-reference.md
Due: prettier --write

docs: update API documentation and remove sensitive data
  CLAUDE.md
  docs/ai-context/api-nomenclature-reference.md
  docs/ai-context/database-integration-guide.md
  parameter-docs/api-nomenclature-reference.md
  parameter-docs/database-integration-guide.md
Due: prettier --write

fix: knowledge graph removal
  libs/data-access/database/src/services/knowledge-graph.service.ts
Due: eslint --fix, prettier --write

fix: this
  backups/messai-backup-2025-07-18T14-39-29-082Z.sql
  backups/messai-backup-2025-07-18T14-57-42-031Z.sql
  backups/messai-backup-2025-07-18T14-59-39-344Z.sql
  backups/messai-production-20250718-160000.sql
  backups/messai-production-20250718-160015.sql
  backups/messai-production-20250718-160023.sql
Due: none

fix: critical runtime and production safety issues
  apps/web/lib/author-utils.ts
  apps/web/package.json
  apps/web/src/app/api/papers/route.ts
  apps/web/src/app/api/research/mess-papers/route.ts
  apps/web/src/lib/production-safety.ts
  apps/web/tsconfig.json
Due: eslint --fix, prettier --write

chore: in silico
  apps/web/src/app/lab-io/components/MESSViewer3D.tsx
  apps/web/src/app/lab-io/components/models/NanowireMFCModel.tsx
  apps/web/src/app/lab/components/MESSViewer3D.tsx
  apps/web/src/app/lab/components/models/NanowireMFCModel.tsx
  apps/web/src/app/lab/page.tsx
  apps/web/src/app/lab/utils/paperParameterMapper.ts
  libs/shared/ui/src/components/paper-detail-modal.tsx
  pnpm-lock.yaml
  requirements/2025-07-18-1419-paper-specific-3d-models/00-initial-request.md
  requirements/2025-07-18-1419-paper-specific-3d-models/01-architecture-analysis.md
  requirements/2025-07-18-1419-paper-specific-3d-models/02-technical-recommendations.md
  requirements/2025-07-18-1419-paper-specific-3d-models/03-nickel-paper-specifications.md
  requirements/2025-07-18-1419-paper-specific-3d-models/04-requirements-specification.md
Due: eslint --fix, prettier --write

fix: resolve deployment TypeScript errors and add prevention guide
  apps/web/src/app/lab-io/components/models/NanowireMFCModel.tsx
  apps/web/src/app/lab/components/models/NanowireMFCModel.tsx
  apps/web/src/lib/production-safety.ts
  docs/deployment-error-prevention.md
Due: eslint --fix, prettier --write

docs: enhance deployment and 3D model documentation
  CLAUDE.md
  PAPER_SPECIFIC_3D_MODELS.md
  docs/deployment-error-prevention.md
Due: prettier --write

fix: fixes
  CLAUDE.md
  apps/web/package.json
  apps/web/src/app/api/error-report/route.ts
  apps/web/src/app/api/papers/route.ts
  apps/web/src/app/api/research/mess-papers/route.ts
  apps/web/src/app/lab-io/components/Enhanced3DControls.tsx
  apps/web/src/app/lab-io/components/MESSViewer3D.tsx
  apps/web/src/app/lab-io/components/models/NanowireMFCModel.tsx
  apps/web/src/app/lab-io/page.tsx
  apps/web/src/app/lab/components/MESSViewer3D.tsx
  apps/web/src/app/lab/components/models/NanowireMFCModel.tsx
  apps/web/src/app/lab/components/slider-styles.css
  apps/web/src/app/lab/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/parameters/components/ParameterContent.tsx
  apps/web/src/components/GlobalErrorBoundary.tsx
  apps/web/src/lib/env-validation.ts
  libs/data-access/database/src/client.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: more
  apps/web/middleware.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/api/cache-status/route.ts
  apps/web/src/app/api/monitoring/route.ts
  apps/web/src/app/api/papers/[id]/route.ts
  apps/web/src/app/api/papers/route.ts
  apps/web/src/app/lab-io/page.tsx
  apps/web/src/app/lab/page.tsx
  apps/web/src/app/predictions/page.tsx
  apps/web/src/components/GlobalErrorBoundary.tsx
  apps/web/src/components/LazyComponents.tsx
  apps/web/src/components/OptimizedImage.tsx
  apps/web/src/hooks/useImagePreloader.ts
  apps/web/src/lib/api-error-handler.ts
  apps/web/src/lib/cache.ts
  apps/web/src/lib/error-tracking.ts
  apps/web/src/lib/logger.ts
  apps/web/src/lib/rate-limiter.ts
  apps/web/src/lib/validation.ts
  apps/web/src/middleware/api-security.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: critical performance and architecture improvements
  apps/web/package.json
  apps/web/src/app/api/db-status/route.ts
  apps/web/src/app/papers/components/PapersFilters.tsx
  apps/web/src/app/papers/components/PapersSearch.tsx
  apps/web/src/app/papers/components/PapersServer.tsx
  apps/web/src/app/papers/page.tsx
  apps/web/src/hooks/useWebSocket.ts
  apps/web/src/lib/db-optimization.ts
  apps/web/src/lib/ssr-optimization.ts
  apps/web/src/lib/websocket/server.ts
  apps/web/src/lib/websocket/store-integration.ts
  apps/web/src/stores/useAppStore.ts
  apps/web/src/stores/useExperimentsStore.ts
  apps/web/src/stores/usePapersStore.ts
  libs/data-access/database/src/client.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: resolve critical deployment failures
  apps/web/next.config.js
  apps/web/src/app/api/db-status/route.ts
  apps/web/src/hooks/useWebSocket.ts
  apps/web/src/lib/ssr-optimization.ts
  apps/web/src/test-utils/store-test-utils.ts
  apps/web/tsconfig.json
Due: eslint --fix, prettier --write

fix: deploy
  pnpm-lock.yaml
Due: prettier --write

fix: deploy
  apps/web/src/app/api/db-status/route.ts
  apps/web/src/app/api/v1/papers/route.ts
  apps/web/src/lib/openapi/schemas.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,mdx,css,html,yml,yaml})
